@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Lobster&family=Poppins:wght@100&family=Quicksand:wght@300&display=swap");
.navbar {
  margin-top: 2px;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  height: 40px;
  box-shadow: rgba(181, 224, 226, 0.19) 0px 10px 20px,
    rgba(168, 217, 219, 0.23) 0px 6px 6px;
  z-index: 100%;
}
.left {
  margin-left: 8;
  margin-right: auto;
}
.right {
  margin-right: 8;
  margin-left: auto;
}
.page1 {
  margin-top: 4px;
  background: linear-gradient(
    180deg,
    #fff6fb 0%,
    #e7f6fc 33.33%,
    rgba(213, 224, 255, 0) 100%
  );
  height: fit-content;
  padding: 10px;
}
.body-material {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading2 {
  font-family: "Lobster", cursive;
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 30px;
  text-align: center;
  color: #1b1b50;
}
.aboutp {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #1b1b50;
}
.aboutparagraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  line-height: 179%;
  /* or 25px */

  color: #000000;
}
.line {
  margin-top: 2rem;
  border: 1px solid #000000;
  width: 90%;
  margin-left: 5%;
}
.mission {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 179%;
  /* or 29px */

  text-align: center;

  color: #1b1b50;
}
.para2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 179%;
  /* or 29px */

  text-align: center;

  color: #1b1b50;
}
.para3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 179%;
  /* or 29px */

  text-align: center;

  color: #000000;
}

/* Page no2 */
.page2 {
  padding: 1rem;
  background: linear-gradient(
    165.41deg,
    #d99ec9 0%,
    rgba(246, 240, 196, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #1b1b50;
  font-size: 22px;
  line-height: 33px;
  font-family: "Poppins", sans-serif;
  font-weight: #1b1b50;
  font-weight: 700;
  margin-left: 34px;
}
.subheading {
  color: #1b1b50;
  font-size: 38px;
  margin-left: 34px;
  line-height: 43px;
  font-family: "Lobster";
  font-weight: #1b1b50;
  font-weight: 500;
}
.para {
  color: #1b1b50;
  font-weight: 300;
  font-size: 14px;
  line-height: 25.2px;
  margin-left: 34px;
}

/* page3 */
.page3 {
  padding: 1rem;
  background: #dce9e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.liberate {
  color: #1b1b50;
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
}
.products {
  font-size: 32px;
  line-height: 43.14px;
  font-family: "Lobster";
  font-weight: 500;
  color: #000000;
}
.button2 {
  background: linear-gradient(
    297.28deg,
    #f66e6e 67.01%,
    rgba(246, 110, 110, 0) 123.71%
  );

  margin-top: 2rem;
  width: 100%;
  height: 100%;
  line-height: 29.79px;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  border: none;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
}
.button2:hover {
  cursor: pointer;
}
.comment {
  font-weight: 500;
  font-family: "Poppins";
  align-items: center;
  line-height: 33px;
  color: #000000;
}
/* pexels-karolina-grabowska-4041391 */
/* page4 */
.page4 {
  padding: 1rem;
  background: linear-gradient(180deg, #fff6fb 0%, #ffffff 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button1 {
  background: linear-gradient(
    288.62deg,
    #6e8cf6 42.36%,
    rgba(110, 213, 246, 0.93) 115.74%
  );

  margin-top: 2rem;
  width: 100%;
  height: 100%;
  line-height: 29.79px;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  border: none;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
}
.button1:hover {
  cursor: pointer;
}
.Image {
  display: flex;
  flex-direction: column;
}
.image {
  display: flex;
  flex-direction: row;
}
.img {
  margin: 0.6rem;
}

/* Page5 */
.page5 {
  padding: 1rem;
  background: linear-gradient(176.88deg, #f3b8bc 2.58%, #ffdad4 93.07%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button3 {
  background: linear-gradient(
    297.28deg,
    #f66e6e 67.01%,
    rgba(246, 110, 110, 0) 123.71%
  );

  margin-top: 2rem;
  width: 100%;
  height: 100%;
  line-height: 29.79px;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  border: none;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
}
.button3:hover {
  cursor: pointer;
}

/* Page 6 */
.page6 {
  padding: 1rem;
  background: linear-gradient(176.88deg, #f3b8bc 2.58%, #ffdad4 93.07%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button4 {
  background: linear-gradient(
    288.62deg,
    #6e8cf6 42.36%,
    rgba(110, 213, 246, 0.93) 115.74%
  );

  margin-top: 2rem;
  width: 100%;
  height: 100%;
  line-height: 29.79px;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  border: none;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
}
.button4:hover {
  cursor: pointer;
}
